@import "tailwindcss";

/* Không override layout của Tailwind */
/* Reset lại root để layout hoạt động bình thường */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;  /* để UI tự căn */
}


/* XÓA HOÀN TOÀN các rule flex, min-width, min-height */
body {
  margin: 0;
  padding: 0;
  background: transparent;
}
